.wrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.trees {
	width: 100%;
	max-width: 960px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}