body {
	font-family: sans-serif;
	background: radial-gradient(#999, #555);
	color: #ccc;
  margin: 0;
  padding: 0;
}

app-root {
	width: 100%;
}

ul {
	display: flex;
	padding-left: 0;
}

li {
	list-style: none;
	margin-bottom: 10px;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-direction: column;
}

button {
  margin: 5px;
  color: white;
  border: 2px solid black;
  border-radius: 3px;
  cursor: pointer;
  padding: 5px 15px;
  transition: all 1s;
}
